body {
    /* URL path is relative to the location of the CSS file     */
    background-image: url('./images/bg.webp'); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;  
    background-size: cover;
    /*---*/
  background-color: #100e17;
  font-family: "IBM Plex Sans", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* ----------- */
body::before {
  content: "";
  background-image: url('./images/moon.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

#wallet-info {
  font-size: 12px;
  font-weight: bold;
  color: #ffd300;
  margin-right: 8px;
}

.not-connected {
  color: #ccc;
}

button {
  background-color: #3f22b7;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 24px;
  margin: 8px;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

button:hover {
  background-color: #2e1a9c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

button:disabled {
  background-color: #b9c3d8;
  cursor: not-allowed;
}

.yellow-text {
  color: #ffd300;
}

.hidden {
  display: none;
}

#mint-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.info-message {
  background-color: #1c1c1c;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #00d395;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 20px;
  text-align: center;
  width: fit-content;
}

#info-message {
  margin-top: 1rem;
  font-weight: bold;
}

.connect-section {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.connect-button {
  background-color: #3f22b7;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  text-align: center;
  margin-left: 8px;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.connect-button:hover {
  background-color: #2e1a9c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.mint-label,
.mint-select {
  font-size: 18px;
}

.mint-select {
  background-color: #3f22b7;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 12px;
  margin-left: 8px;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.mint-select:hover {
  background-color: #2e1a9c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/*-----------------------------------------------------------*/
/*                      listNFT.html                         -*/
/*-----------------------------------------------------------*/

.nft-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.nft-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #3f22b7;
  border-radius: 12px;
  padding: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nft-item img {
  max-width: 100%;
  max-height: 100%;
}

.stake-button {
  background-color: #3f22b7;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 12px;
  margin-top: 8px;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
}

.stake-button:hover {
  background-color: #2e1a9c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}


h1 {
  font-size: 42px;
  color: #d4237a;
}